# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
*.xcuserdatad
*.xcworkspace/xcuserdata/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build products
DerivedData/
*.app
*.dSYM.zip
*.dSYM

# Sparkle
appcast.xml
*.zip
dsa_priv.pem

# Sensitive data
*.keychain
*.p12
